<div class="col-lg-4">
    <div class="card card-pt">
        <div class="card-body bg-cardbody">
           
        </div>
    </div>
</div>

<div class="col-lg-8">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <!-- Default Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active tablink" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button" role="tab" aria-controls="personal" aria-selected="true">Personal Info</button>
                </li>
            
            
                <li class="nav-item" role="presentation">
                <button class="nav-link tablink" id="address-tab" data-bs-toggle="tab" data-bs-target="#address" type="button" role="tab" aria-controls="address" aria-selected="false">Address</button>
                </li>
                <!-- 
                <li class="nav-item" role="presentation">
                <button class="nav-link tablink" id="document-tab" data-bs-toggle="tab" data-bs-target="#document" type="button" role="tab" aria-controls="document" aria-selected="false">Documents</button>
                </li>

                <li class="nav-item" role="presentation">
                <button class="nav-link tablink" id="trips-tab" data-bs-toggle="tab" data-bs-target="#trips" type="button" role="tab" aria-controls="trips" aria-selected="false">Trips</button>
                </li> -->
                
            </ul>
            <div class="tab-content pt-4" id="myTabContent">
                <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                </div>

                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                </div>

                <!--<div class="tab-pane fade" id="trips" role="tabpanel" aria-labelledby="trips-tab">
                </div>-->
            </div><!-- End Default Tabs -->

        </div>

    </div>
</div>