<div class="table-responsive">
    <table class="table table-lg table-bordered personalinfo" aria-label>
        <tbody>
            <tr>
                <th scope="row">Title</th>
                <td><%= custAddress.ad_title %></td>
            </tr>
            <tr>
                <th scope="row">Landmark</th>
                <td><%= custAddress.ad_landmark %></td>
            </tr>
            <tr>
                <th scope="row">City</th>
                <td><%= custAddress.ad_city %></td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td><%= custAddress.ad_state %></td>
            </tr>
            <!-- <tr>
                <th scope="row"><?= lang('App.address') ?></th>
                <td><?= esc($customer->c_address) ?></td>
            </tr> -->
           
           
        </tbody>
    </table>
</div>
<br>

<a href="#">
    <button type="button" class="btn btn-block btn-primary btn-sm btn-font-size">Edit</button>
</a>
